#pages-services {
  .intro {
    .img-intro {
      margin-top: 50px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;

      img {
        width: 100%;
        box-shadow: 0 0 10px $blackShadow;
        border-radius: 360px;
      }
    }
  }

  .values {
    width: 100%;
    background: $color1;
    box-shadow: 0 0 10px $blackShadow;

    h2 {
      color: $white;
      &::after {
        border-bottom: 2px solid $white;
      }
    }

    .valuesContainer {
      width: 80%;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(4, 25%);
      gap: 20px;
      align-items: center;
      justify-content: center;

      @media screen and (max-width: 1020px) {
        grid-template-columns: repeat(2, 50%);
      }

      @media screen and (max-width: 580px) {
        grid-template-columns: 1fr;
      }

      .value {
        background: $white;
        padding: 20px;
        height: 100%;
        border-radius: 20px;
        box-shadow: 0 0 10px $blackShadow;

        i {
          font-size: 2rem;
          color: $color1;
          margin: 20px auto;
          border: 3px solid $color1;
          padding: 20px;
          width: 80px;
          height: 80px;
          border-radius: 360px;
        }
        h3 {
          color: $color1;
          padding-bottom: 20px;
        }
      }
    }
  }

  .cta {
    width: 100%;
    padding: 0;
    display: grid;
    grid-template-columns: 50% 50%;

    @media screen and (max-width: 1150px) {
      grid-template-columns: 1fr;
    }
    .ctaImg {
      img {
        width: 100%;
        border-radius: 0 0 360px 0;
        box-shadow: 0 0 10px $blackShadow;

        @media screen and (max-width: 1150px) {
          width: 500px;
          border-radius: 20px 20px 20px 20px;
          margin: 50px auto 0;
        }
        @media screen and (max-width: 550px) {
          width: 100%;
          border-radius: 0 0 0 0;
          margin: 0 auto 0;
        }
      }
    }

    .ctaText {
      padding: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      p {
        padding-bottom: 30px;
      }
    }
  }
}
